@font-face {
   font-family: 'Rubik';
   font-weight: 300;
   font-style: normal;
   src: url('../fonts/Rubik-Light-300.woff2') format('woff2'),
        url('../fonts/Rubik-Light-300.woff') format('woff');
   font-display: swap;
}

@font-face {
   font-family: 'Rubik';
   font-weight: 400;
   font-style: normal;
   src: url('../fonts/Rubik-Regular-400.woff2'), format('woff2'),
        url('../fonts/Rubik-Regular-400.woff') format('woff');
   font-display: swap;
}

@font-face {
   font-family: 'Rubik';
   font-weight: 600;
   font-style: normal;
   src: url('../fonts/Rubik-Medium-600.woff2') format('woff2'),
        url('../fonts/Rubik-Medium-600.woff') format('woff');
   font-display: swap;
}

@font-face {
   font-family: 'Rubik';
   font-weight: 700;
   font-style: normal;
   src: url('../fonts/Rubik-Bold-700.woff2') format('woff2'),
        url('../fonts/Rubik-Bold-700.woff') format('woff');
   font-display: swap;
}