// .sr-only {
//    position: absolute;
//    width: 1px;
//    height: 1px;
//    margin: -1px;
//    border: 0;
//    padding: 0;
//    white-space: nowrap;
//    clip-path: inset(100%);
//    clip: rect(0 0 0 0);
//    overflow: hidden;
// }

body {
   background-color: $silver-100-clr;
   @extend %rubik-400;
   color: $dark-clr;
   @include font-prop (20px, 1.5);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.section {
   padding: 120px 0;
}

.global-link {
   padding: 12px 32px;
   color: $white;
   background-color: $orange-900-clr;
   border-radius: 5px;
}

.title {
   @extend %rubik-600;
   @include font-prop (36px, 1.3);
}