$orange-900-clr: #ff6838;
$orange-light-clr: rgba(#ff7a50, 0.1);
$silver-200-clr: #ececec;
$silver-100-clr: #f9faff;
$gray-clr: #c2c2c2;
$darkBlue-900-clr: #363853;
$dark-clr: #31352b;
$white: #fff;

@mixin font-prop ($fz, $lh) {
   font-size: $fz;
   line-height: $lh;
}

%rubik-300 {
   font-family: 'Rubik-Light', sans-serif;
   font-weight: 300;
}
%rubik-400 {
   font-family: 'Rubik-Regular', sans-serif;
   font-weight: 400;
}
%rubik-600 {
   font-family: 'Rubik-Medium', sans-serif;
   font-weight: 600;
}
%rubik-700 {
   font-family: 'Rubik-Bold', sans-serif;
   font-weight: 700;
}

%flex-spaceBetween {
   display: flex;
   justify-content: space-between;
}

%image-prop {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

%outline {
   outline: 2px solid $orange-900-clr;
}

