$orange-900: #ff6838;
$orange-600: rgba(255, 122, 80, 0.1);
$orange-300: #ffae94;
$orange-200: #faeded;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$white: #fff;
$black: #000;

@mixin font-prop ($fz, $lh) {
   font-size: $fz;
   line-height: $lh;
}


%image-prop {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}


