@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';


// main page
@import 'components/menu';
@import 'components/user-nav';
@import 'sections/hero';
@import 'components/buttons-filter';
@import 'sections/category';
@import 'components/food-card';
@import 'sections/offer';
@import 'sections/restaurant';
@import 'components/restaurant-card';
@import 'sections/reviews';
@import 'sections/app';
@import 'sections/footer';
@import 'components/form';
@import 'components/address';
@import 'components/social';
//main page

// catalog
@import 'components/menu';
@import 'components/user-nav';
@import 'sections/catalog';
@import 'components/filter-category';
@import 'components/filter-offer';
@import 'components/filter-price';
@import 'components/catalog-top';
@import 'components/catalog-box';
@import 'sections/app';
@import 'sections/promo';
@import 'sections/footer';
@import 'components/form';
@import 'components/address';
@import 'components/social';
// catalog

// product
.product {
   padding: 60px 0;
   border-bottom: 1px solid $gray;
   // .product-info__inner
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }
   // .product-info__slider
   &__slider {
      background: $white;
      box-shadow: 0px 0px 0px 1px $silver-200;
      border-radius: 5px;
      padding: 75px 105px;
      overflow: hidden;
      max-width: 610px;
      width: 100%;
      position: relative;
      margin-right: 15px;
   }

   &__slider-wrp{
      display: flex;
      width: 100%;
      height: 100%;
   }

   &__slider-slide{
      flex-shrink: 0;
   }
   
   &__slider-btn{
      position: absolute;
      padding: 14px 21px 9px 21px;
      top: 50%;   
      transform: translateY(-50%);
      background-color: rgba($white, .8);
      border-radius: 6px;
      fill: $darkBlue-900;
      transition: all .3s;

      &:focus{
         outline: 1px solid $orange-900;
      }
      &:hover{
         fill: $orange-900;
         background-color: $orange-600;;
      }
      &:active{
         box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
      }

      &--prev{
         left: 25px;
      }
      &--next{
         right: 25px;
      }
   }

   &__img{
      margin: 0 auto;
   }
   // .product-info__title
   &__title {
      margin-bottom: 30px;
   }
   // .product-info__rating
   &__rating {
      margin-bottom: 25px;
   }
   // .product-info__price,
   // .product-info__currency
   &__price,
   &__currency {
      font-weight: 600;
      @include font-prop(25px, 1.4);
      color: $darkBlue-900;
   }
   // .product-info__price
   &__price{
      margin-bottom: 20px;
   }
   // .product-info__currency
   &__currency {
      display: inline-block;
      margin-left: 5px;
   }
   // .product-info__form
   &__form {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 30px;
   }
   // .product-info__quantity-wrp
   &__quantity-wrp {
      min-height: 100%;
      margin-right: 20px;
      display: flex;
      align-items: center;
   }

   &__label{
      width: 70px;
   }
   // .product-info__btn
   &__btn{
      padding: 0;
      min-width: 44px;
      min-height: 44px;
      width: 100%;
      height: 100%;
      z-index: 2; 
      &--minus{
         border-radius: 3px 0px 0px 3px;
      }
      &--plus{
         border-radius: 0px 3px 3px 0px;
      }
   }
   // .product-info__btn-svg
   &__btn-svg{
      &--minus{
         margin-bottom: 5px;
      }
      &--plus{
         margin-top: 5px;
      }
   }
   // .product-info__quantity
   &__quantity {
      padding: 10px 0;
      font-weight: 600;
      color: $darkBlue-900;
      background-color: $orange-200;
      width: inherit;
      text-align: center;
      @include font-prop(20px, 1);
      flex-shrink: 0;
      cursor: pointer;

      &:focus{
         outline: 1px solid $orange-900;
      }
   }
   // .product-info__add-btn
   &__add-btn {
      font-size: 14px;
      padding: 12.5px 38px;
      font-weight: 600;
   }
   // .product-info__svg
   &__svg {
      margin: 0 16px -2px 0;
   }
   // .product-info__about-title
   &__about-title {
      font-weight: 600;
      letter-spacing: 0.03em;
      padding: 0 0 15px 0;
      margin-bottom: 20px;
      word-wrap: break-word;
   }
   // .product-info__delivery-list
   &__delivery-list {
      margin-bottom: 20px;
      color: $silver-300;

   }
   // .product-info__delivery-item
   &__delivery-item {   
      @include font-prop(16px, 1.5);
      letter-spacing: 0.03em;
      &:not(:last-child){
         margin-bottom: 5px;
      }
   }

   &__link-more{
      font-size: 20px;
   }
}

.product-info {
   padding: 20px 0 120px;
   // .product-info__tabs
   &__tabs {
      display: flex;
      align-items: center;
      margin-bottom: 9px;
      overflow-x: auto; 
      white-space: nowrap;
      padding: 1px 1px 11px;
   }
   // .product-info__item
   &__item {
      &:not(:last-child){
         margin-right: 60px;
      }
   }
   // .product-info__btn
   &__btn {
      padding: 9px 0;
      @include font-prop(24px, 1.5);
      color: $darkBlue-900;
      border-radius: 6px;

      &--active{
         color: $orange-900;
      }
      &:focus{
         outline: 1px solid $orange-900;
      }
   }
}

.descr{
   &__list{
      line-height: 1.5;
      color: $dark;
   }

   &__item{
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}

.attributes{
   &__item{
      display: flex;
      align-items: center;
      line-height: 1.5;

      &:not(:last-child){
         margin-bottom: 10px;
      }
   }
   &__title{
      color: $dark;
      font-weight: 600;
      margin: 0 5px 0 0;
   }
}

.comments {
   // .comments__title
   &__title {
      @include font-prop(24px, 1.2);
      letter-spacing: 0.03em;
      font-weight: 600;
      color: $darkBlue-900;
      margin-bottom: 30px;
   }
   // .comments__box
   &__box{
      padding-bottom: 60px;
   }
   // .comments__item
   &__item {
      padding-bottom: 20px;
      &:not(:first-child){
         padding-top: 25px;
      }
      &:last-child{
         padding-bottom: 0;         
      }
      &:not(:last-child){
         border-bottom: 1px solid $gray;
      }
   }
   // .comments__top
   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
   }
   // .comments__img
   &__img {
      border-radius: 50%;
      margin: 0 25px 0 0;
   }
   // .comments__info
   &__info {
      margin: 0 auto 0 0;
      color: $silver-300;
   }
   // .comments__name
   &__name {
      font-weight: 600;
      line-height: 1.3;
      margin: 0 0 10px 0;
   }
   // .comments__date
   &__date {
      @include font-prop(18px, 1.3);
   }
   // .comments__text
   &__text {
      line-height: 1.5;
   }
   // .comments__form
   &__form {
      width: 100%;
   }
   // .comments__label
   &__label {
      display: block;
      line-height: 1.3;
      color: $silver-300;        
      // .comments__label--rating
      &--rating {
      }
      // .comments__label--textarea
      &--textarea {
         max-width: 58%;
         width: 100%;
         height: 100%;
      }
      &--check{
         margin-bottom: 30px;
         padding-left: 34px;
         position: relative;
         &:focus{
            outline: 1px solid $orange-900;
         }
         &:hover{
            .comments__checkbox-state{
               background-color: $orange-600;
            }
         }
      }
      &--name{
         margin-bottom: 10px;
      }
   }
   // .comments__form-inputs
   &__form-inputs {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 30px;
   }
   // .comments__textarea
   &__textarea {
      resize: vertical;
      width: 100%;
      min-height: 179px;
      margin: 15px 0 0 0;
   }
   // .comments__form-wrp
   &__form-wrp {
      max-width: 38%;
      width: 100%;
   }
   // .comments__input
   &__input {
      width: 100%;
      margin: 15px 0 0 0;
   }

   &__textarea,
   &__input{
      background-color: $white;
      border: 1px solid $gray;
      border-radius: 5px;
      padding: 18px;
      &::placeholder{
         font-size: 16px;
         color: $gray;
      }
      &:focus{
         outline: 1px solid $orange-900;
      }
      &:hover{
         background-color: $orange-600;
      }
   }

   &__checkbox{
      &:checked+.comments__checkbox-state{
         background-image: url('../images/icons/checked.svg');
         background-position: center center;
         background-size: 12px 9px;
         background-repeat: no-repeat;
      }
   }

   &__checkbox-state{
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      background: $white;
      border: 1px solid $gray;
      border-radius: 3px;
   }

   &__form-btn{
      display: block;
      @include font-prop(18px, 1.3);
   }
}

.product-offer {
   padding: 0 0 120px 0;
   // .product-offer__inner
   &__inner{
         position: relative;
      }
		// .product-offer__title
		&__title {
         margin-bottom: 60px;
		}
		// .product-offer__slider
		&__slider {
         overflow: hidden;
         width: 100%;
		}
		// .product-offer__wrapper
		&__wrapper {
         display: flex;
         width: 100%;
         height: 100%;
		}
		// .product-offer__slide
		&__slide {
         flex-shrink: 0;
		}
		// .product-offer__btn
		&__btn {
         position: absolute;
         top: 1px;
		   // .product-offer__btn--prev
		   &--prev {
            right: 59px;
         }
		   // .product-offer__btn--next
		   &--next {
            right: 0;
         }
		}
		// .product-offer__btn-svg
		&__btn-svg {
		}
      // .product-offer__pagination
      &__pagination {
         
         .swiper-pagination-bullets {
            margin: 0 0;
         }

         .swiper-pagination-bullet {
            width: 15px;
            height: 15px;

            &:not(:last-child) {
               margin-right: 15px;
            }

            &:hover {
               outline: 2px solid $orange-600;
               background-color: $orange-300;
            }

            &:focus {
               background-color: initial;
               outline: 2px solid $orange-900;
            }

            &:active {
               background-color: $orange-600;
               outline: transparent;
            }
         }

         .swiper-pagination-bullet-active {
            background-color: $orange-900;
         }
      }
      }






// product page

@import 'media';