@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';

.menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 0;

      &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 63px 0 auto;
      }

      &__item {
            &:not(:last-child) {
                  margin-right: 45px;
            }
      }

      &__link {
            @include font-prop (18px, 1.2);
            transition: all 0.3s;
      }

}

.user-nav {
      display: flex;

      &__item:not(:last-child) {
            margin-right: 10px;
      }

      &__num {
            position: absolute;
            top: 7px;
            right: 5px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $orange-900;
            text-align: center;
            @include font-prop (10px, 1.4);
            color: $white;
      }

      &__link {
            display: block;
            width: 44px;
            height: 44px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            border-radius: 6px;
            stroke: $darkBlue-900;

            &:hover {
                  background-color: $orange-900;
                  stroke: $white;

                  .user-nav__num {
                        background-color: $white;
                        color: $orange-900;
                  }
            }

            &:focus {
                  outline: 2px solid $orange-900;
                  background-color: $orange-600;
                  stroke: $darkBlue-900;
            }

            &:active {
                  background-color: $orange-600;
                  stroke: $darkBlue-900;

                  .user-nav__num {
                        background-color: $orange-900;
                        color: $white;
                  }
            }
      }
}

.hero {
      &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-repeat: no-repeat;
            background-position: right top;
            background-size: contain;
            min-height: 660px;
      }

      &__title {
            @include font-prop (66px, 1.3);
            max-width: 40%;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 20px;
            color: $darkBlue-900;
      }

      &__accent {
            display: block;
            color: $orange-900;
      }

      &__text {
            max-width: 40%;
            margin-bottom: 32px;
      }

      &__list {
            display: flex;
      }

      &__item:not(:last-child) {
            margin-right: 34px;
      }

      &__link-more {
            transition: all 0.3s;
      }
}

.filter {
      display: flex;
      margin-bottom: 40px;
      flex-wrap: wrap;

      &__item {
            &:not(:last-child) {
                  margin-right: 20px;
            }
      }

      &__svg {
            margin-right: 10px;
      }

      &__button {
            display: flex;
            align-items: center;
            padding: 13px 32px;
            border-radius: 5px;
            box-shadow: 0px 0px 0px 1px $silver-200;
            background-color: $white;
            color: $darkBlue-900;
            fill: $darkBlue-900;
            transition: all 0.3s;
            margin-bottom: 10px;

            &:hover {
                  outline: 2px solid $orange-900;
                  background-color: $orange-600;
                  color: $orange-900;
                  fill: $orange-900;
            }

            &:focus {
                  outline: 2px solid $orange-900;
            }

            &:active {
                  background-color: $white;
                  box-shadow: inset 0px -5px 12px rgba($orange-900, 0.2);
                  color: $darkBlue-900;
            }

            &.mixitup-control-active {
                  background-color: $orange-900;
                  color: $white;
                  fill: $white;
            }
      }
}

.catalog {
      text-align: center;

      &__title {
            margin-bottom: 60px;
      }

      &__list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 30px;
            margin-bottom: 60px;
      }

      &__show-more {
            color: $darkBlue-900;
            @include font-prop(20px, 1.5);
            text-decoration: underline;
            border-radius: 6px;
            transition: all 0.3s;

            &:hover {
                  text-decoration: none;
            }

            &:focus {
                  text-decoration: underline;
            }

            &:active {
                  text-decoration: none;
            }
      }
}

.food-card {
      padding: 20px 15px;
      background-color: $white;
      box-shadow: 0px 0px 0px 1px $silver-200;
      border-radius: 5px;
      transition: all 0.3s;

      &:hover {
            box-shadow: 0px 0px 0px 1px $orange-900;
      }

      &__img {
            margin: 0 auto 10px;
      }

      &__title {
            @include font-prop (15px, 1.2);
            margin-bottom: 10px;
            font-weight: 400;
            display: -webkit-inline-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 2.4em;
      }

      &__price {
            display: block;
            @include font-prop (15px, 1.4);
            font-weight: 600;
            color: $darkBlue-900;
            margin-bottom: 10px;
      }

      &__button {
            padding: 7px 16px;
            @include font-prop(14px, 1.3);
      }
}

.offer {
      &__inner {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-height: 585px;
            max-width: 86%;
            background-position: left top;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 auto;
      }

      &__content {
            max-width: 45%;
      }

      &__title {
            margin-bottom: 30px;
      }

      &__accent {
            display: block;
      }

      &__text {
            margin-bottom: 30px;
      }

      &__list {
            margin-bottom: 42px;
      }

      &__item {
            padding-left: 65px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;

            &:not(:last-child) {
                  margin-bottom: 20px;
            }
      }
}


.restaurant {
      &__title {
            text-align: center;
            margin-bottom: 45px;
      }

      &__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
      }
}

.restaurant-card {
      border-radius: 10px;
      box-shadow: 0px 3px 3px rgba($black, 0.1);

      &:hover {
            box-shadow: 0px 3px 15px rgba($orange-600, 0.5);
      }

      &__title {
            margin: 15px 0 20px 20px;
            @include font-prop(24px, 1.3);
      }

      &__content {
            padding: 0 20px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
      }

      &__time {
            padding-left: 35px;
            align-self: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left top;
            @include font-prop(18px, 1.5);
      }

      &__button {
            padding: 4px 32px 5px;
            border-radius: 20px;
            transition: all 0.2s;

            &:hover {
                  padding: 4px 7px 5px 57px;
            }
      }

      &__svg {
            height: 24px;
            width: 24px;
      }
}

.reviews {
      &__title {
            text-align: center;
            margin-bottom: 45px;
      }

      .slick-dots {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 562px;

            li:not(:last-child) {
                  margin-right: 15px;
            }

            button {
                  font-size: 0;
                  display: block;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background-color: $gray;
            }

            .slick-active button {
                  background-color: $orange-900;
            }

            button,
            .slick-active button {
                  &:hover {
                        outline: 2px solid $orange-600;
                        background-color: $orange-300;
                  }

                  &:focus {
                        background-color: initial;
                        outline: 2px solid $orange-900;
                  }

                  &:active {
                        background-color: $orange-600;
                        outline: transparent;
                  }

            }
      }

      &__review {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 990px;
            width: 100%;
            margin: 0 auto 48px;
      }

      &__img {
            border-radius: 50%;
      }

      &__quote {
            max-width: 570px;
            width: 100%;
            display: block;
            font-style: italic;
            position: relative;
            quotes: "" "";


            &::before,
            &::after {
                  // content: '';
                  width: 24px;
                  height: 19px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: absolute;
            }

            &::before {
                  // background-image: url('../images/decor-img/quote-mark-top.svg');
                  content: open-quote;

                  left: -38px;
                  top: 0;
            }

            &::after {
                  // background-image: url('../images/decor-img/quote-mark-bottom.svg');
                  content: open-quote;

                  right: -38px;
                  top: 128px;
            }
      }

      .slick-btn {
            width: 34px;
            height: 34px;
            fill: $gray;
            stroke: $gray;
            position: absolute;
            bottom: -9px;
            border-radius: 50%;

            &:hover {
                  fill: $orange-300;
                  stroke: $orange-300;
            }

            &:focus {
                  outline: 3px solid $orange-900;
            }

            &:active {
                  outline: transparent;
                  stroke: $orange-900;
            }
      }

      .slick-prev {
            left: 505px;
      }

      .slick-next {
            left: 690px;
      }

      &__author {
            display: block;
            margin-top: 30px;
            font-style: normal;
            font-weight: 600;
            color: $orange-900;
            line-height: 1.3;
      }

      &__about {
            display: block;
            color: $dark;
            margin-top: 15px;
            font-weight: normal;
            font-style: normal;
            @include font-prop(14px, 1.3);
      }
}

.app {
      &__content {
            background-position: right center;
            background-size: contain;
            background-repeat: no-repeat;
            min-height: 380px;
            display: flex;
            flex-direction: column;
            justify-content: center;
      }
      &__title {
            max-width: 540px;
            margin-bottom: 45px;
      }
      &__text {
            max-width: 540px;
            margin-bottom: 30px;
      }
      &__list {
            display: flex;
      }
      &__item:not(:last-child) {
            margin-right: 30px;
      }
      &__link {
            display: block;
            width: 135px;
            height: 40px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                  opacity: 0.8;
            }

            &:focus {
                  outline: 2px solid $orange-900;
            }

            &:active {
                  opacity: 0.5;
            }
      }
}

.footer {
      &__top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 60px;
      }

      &__logo {
            display: block;
            margin-bottom: 30px;
      }

      &__menu {
            column-count: 3;
      }

      &__item:not(:last-child) {
            margin-bottom: 20px;
      }

      &__link {
            letter-spacing: 1%;
            @include font-prop(18px, 1.3);
            transition: all 0.3s;

            &:hover {
                  color: $orange-900;
            }

            &:focus {
                  outline: 2px solid $orange-900;
            }
      }

      &__copy {
            text-align: center;
            border-top: 1px solid $gray;
            padding: 30px 0;
            @include font-prop(14px, 1);
      }
}

.form {
      &__label {
            display: flex;
            flex-direction: column;
            @include font-prop(14px, 1.3);
      }

      &__input {
            padding: 13px 15px;
            border: 1px solid $gray;
            border-radius: 5px;
            background-color: $white;
            transition: all 0.3s;

            &::placeholder {
                  color: $gray;
            }

            &:hover::placeholder {
                  color: $darkBlue-900;
            }

            &:focus {
                  outline: 2px solid $orange-900;
            }
      }

      &__img {
            margin: 0 15px -3px 0;
      }

      &__btn {
            padding: 13px 38px;
            margin-top: 12px;
      }
}

.address {
      &__list {
            margin-bottom: 15px;
      }

      &__item:not(:nth-child(4n+4)) {
            margin-bottom: 15px;
      }

      &__svg {
            width: 24px;
            height: 24px;
            margin-right: 7px;
      }

      &__link {
            stroke: $dark;
            display: flex;
            align-items: center;
            padding: 4px 4px;
            @include font-prop(16px, 2);
            @extend %image-prop;
            transition: stroke 0.2s;

            &:hover {
                  stroke: $orange-900;
            }
      }

}

.social {
      display: flex;

      &__item:not(:last-child) {
            margin-right: 13px;
      }

      &__svg {
            fill: $dark;
      }

      &__link {
            display: block;
            width: 39px;
            height: 39px;
            border-radius: 50%;
            background-color: $silver-200;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;


            &:hover {
                  background-color: $orange-900;

                  .social__svg {
                        fill: $white;
                  }
            }

            &:focus {
                  outline: 2px solid $orange-900;
                  background-color: $orange-600;
            }

            &:active {
                  background-color: $orange-600;

                  .social__svg {
                        fill: $orange-900;
                  }
            }
      }
}










@import 'media';