@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';

@import 'components/menu';
@import 'components/user-nav';
@import 'sections/hero';
@import 'components/filter';
@import 'sections/catalog';
@import 'components/food-card';
@import 'sections/offer';
@import 'sections/restaurant';
@import 'components/restaurant-card';

.slick-dots {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 562px;

      li:not(:last-child) {
            margin-right: 15px;
      }

      button {
            font-size: 0;
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $gray;
      }

      .slick-active button {
            background-color: $orange-900;
      }

      button,
      .slick-active button {
            &:hover {
                  outline: 2px solid $orange-600;
                  background-color: $orange-300;
            }

            &:focus {
                  background-color: initial;
                  outline: 2px solid $orange-900;
            }

            &:active {
                  background-color: $orange-600;
                  outline: transparent;
            }

      }
}

@import 'sections/reviews';
@import 'sections/app';

.footer {
      &__top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 60px;
      }

      &__logo {
            display: block;
            margin-bottom: 30px;
      }

      &__copy {
            text-align: center;
            border-top: 1px solid $gray;
            padding: 30px 0;
            @include font-prop(14px, 1);
      }
}

@import 'components/form';
@import 'components/address';
@import 'components/social';

@import 'media';