.offer {
   &__inner {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         max-width: 86%;
         width: 100%;
         background-position: left top;
         background-size: contain;
         background-repeat: no-repeat;
         margin: 0 auto;
   }

   &__content {
         padding: 58px 0;
         max-width: 45%;
         width: 100%;
   }

   &__title {
         margin-bottom: 30px;
   }

   &__accent {
         display: block;
   }

   &__text {
         margin-bottom: 30px;
   }

   &__list {
         margin-bottom: 42px;
   }

   &__svg {
         margin-right: 30px;
   }

   &__item {
         display: flex;
         align-items: center;

         &:not(:last-child) {
               margin-bottom: 20px;
         }
   }
}