.restaurant {
   &__title {
      text-align: center;
      margin-bottom: 45px;
   }

   &__wrapper{
      overflow: hidden;
      width: 100%;
   }

   &__list {
      display: flex;
      justify-content: space-between;
      // flex-wrap: wrap;
      padding: 0 4px 0 0;
      margin-bottom: 30px;
      height: 100%;
      width: 100%;
   }

   &__item{
      // width: 100%;
      flex-shrink: 0;
      // margin-bottom: 30px;
      // &:not(:nth-child(3n+3)){
      //       margin-right: 10px;
      // }
   }
}