.reviews {
      &__title {
            text-align: center;
            margin-bottom: 45px;
      }

            &__list {
            position: relative;
      }

      &__review {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 990px;
            width: 100%;
            margin: 0 auto 48px;
      }

      &__img {
            border-radius: 50%;
      }

      &__quote {
            max-width: 570px;
            width: 100%;
            display: block;
            font-style: italic;
            position: relative;

            &::before,
            &::after {
                  content: '';
                  width: 24px;
                  height: 19px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: absolute;
            }

            &::before {
                  background-image: url('../images/decor-img/quote-mark-top.svg');
                  left: -38px;
                  top: 0;
            }

            &::after {
                  background-image: url('../images/decor-img/quote-mark-bottom.svg');
                  right: -38px;
                  top: 128px;
            }
      }

      &__author {
            display: block;
            margin-top: 30px;
            font-style: normal;
            font-weight: 600;
            color: $orange-900;
            line-height: 1.3;
      }

      &__about {
            display: block;
            color: $dark;
            margin-top: 15px;
            font-weight: normal;
            font-style: normal;
            @include font-prop(14px, 1.3);
      }

      .slick-dots {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 562px;
      
            li:not(:last-child) {
                  margin-right: 15px;
            }
      
            button {
                  font-size: 0;
                  display: block;
                  width: 15px;
                  height: 15px;
                  border-radius: 50%;
                  background-color: $gray;
            }
      
            .slick-active button {
                  background-color: $orange-900;
            }
      
            button,
            .slick-active button {
                  &:hover {
                        outline: 2px solid $orange-600;
                        background-color: $orange-300;
                  }
      
                  &:focus {
                        background-color: initial;
                        outline: 2px solid $orange-900;
                  }
      
                  &:active {
                        background-color: $orange-600;
                        outline: transparent;
                  }
            }
      }

      .slick-btn {
            width: 34px;
            height: 34px;
            fill: $gray;
            stroke: $gray;
            position: absolute;
            bottom: -9px;
            border-radius: 50%;

            &:hover {
                  fill: $orange-300;
                  stroke: $orange-300;
            }

            &:focus {
                  outline: 3px solid $orange-900;
            }

            &:active {
                  outline: transparent;
                  stroke: $orange-900;
            }
      }

      .slick-prev {
            left: 505px;
      }

      .slick-next {
            left: 690px;
      }
}