.reviews {
      &__title {
            text-align: center;
            margin-bottom: 45px;
      }

      &__list {
            max-width: 990px;
            width: 100%;
            margin: 0 auto;
            min-width: 0;
      }
      &__box{
            margin-bottom: 48px;

      }

      &__review {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 0;
      }

      &__img {
            border-radius: 50%;
      }

      &__quote {
            max-width: 570px;
            width: 100%;
            padding: 0 40px;
            display: block;
            font-style: italic;
            position: relative;

            &::before,
            &::after {
                  content: '';
                  width: 24px;
                  height: 19px;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  position: absolute;
            }

            &::before {
                  background-image: url('../images/decor-img/quote-mark-top.svg');
                  left: 0;
                  top: 0;
            }

            &::after {
                  background-image: url('../images/decor-img/quote-mark-bottom.svg');
                  right: 0;
                  top: 128px;
            }
      }

      &__author {
            display: block;
            margin-top: 30px;
            font-style: normal;
            font-weight: 600;
            color: $orange-900;
            line-height: 1.3;
      }

      &__about {
            display: block;
            color: $dark;
            margin-top: 15px;
            font-weight: normal;
            font-style: normal;
            @include font-prop(14px, 1.3);
      }

      .swiper-pagination-bullets{
            margin: 0 0;
      }

      .swiper-pagination-bullet {
            width: 15px;
            height: 15px;

            &:not(:last-child) {
                  margin-right: 15px;
            }

            &:hover {
                  outline: 2px solid $orange-600;
                  background-color: $orange-300;
            }

            &:focus {
                  background-color: initial;
                  outline: 2px solid $orange-900;
            }

            &:active {
                  background-color: $orange-600;
                  outline: transparent;
            }
      }

      .swiper-pagination-bullet-active{
            background-color: $orange-900;
      }

      &__button-wrp{
            display: flex;
            justify-content: center;
            align-items: center;
      }
      &__button-box{
            min-width: 220px;
            height: 38px;
            position: relative;
      }

      .swiper-pagination{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 56px;
      }

      .swiper-buttons {
            top: 0;
            &:focus{
                  outline: transparent;
            }
            &:after{
                  display: none;
            }
      }

      .swiper-button-next {
            right: 0;
      }

      .swiper--arrow {
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            fill: $gray;
            stroke: $gray;
            &:hover {
                  fill: $orange-300;
                  stroke: $orange-300;
            }

            &:focus {
                  outline: 3px solid $orange-900;
            }

            &:active {
                  outline: transparent;
                  stroke: $orange-900;
            }
      }

      // .slick-dots {
      //       display: flex;
      //       // display: inline-flexbox;
      //       justify-content: center;
      
      //       li:not(:last-child) {
      //             margin-right: 15px;
      //       }
      
      //       button {
      //             font-size: 0;
      //             display: block;
      //             width: 15px;
      //             height: 15px;
      //             border-radius: 50%;
      //             background-color: $gray;
      //       }
      
      //       .slick-active button {
      //             background-color: $orange-900;
      //       }
      
      //       button,
      //       .slick-active button {
      //             &:hover {
      //                   outline: 2px solid $orange-600;
      //                   background-color: $orange-300;
      //             }
      
      //             &:focus {
      //                   background-color: initial;
      //                   outline: 2px solid $orange-900;
      //             }
      
      //             &:active {
      //                   background-color: $orange-600;
      //                   outline: transparent;
      //             }
      //       }
      // }

      // .slick-dots{
      //       position: relative;
      // }

      // .slick-btn {
      //       width: 34px;
      //       height: 34px;
      //       fill: $gray;
      //       stroke: $gray;
      //       position: absolute;
      //       bottom: -9px;
      //       border-radius: 50%;

      //       &:hover {
      //             fill: $orange-300;
      //             stroke: $orange-300;
      //       }

      //       &:focus {
      //             outline: 3px solid $orange-900;
      //       }

      //       &:active {
      //             outline: transparent;
      //             stroke: $orange-900;
      //       }
      // }

      // .slick-prev {
      //       // left: 505px;
      //       left: 300px;

      // }

      // .slick-next {
      //       // left: 690px;
      //       right: 300px;
      // }
}