.catalog-box {
   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-bottom: 60px;
      justify-content: center;
   }
   &__item {
      text-align: center;
   }
}