.catalog-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 60px;
   // .catalog-top__filters
   &__filter-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
   }
   // .catalog-top__word-filter
   &__filter-item {
      background-color: $white;
         &:not(:last-child){
         margin-right: 15px;
      }
   }
   // .catalog-top__word-select
   &__word-select {
   }
   // .catalog-top__num-select
   &__num-select {
   }
}