.filter-offer {

   &__checkbox {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-color: $orange-600;
      border-radius: 3px;
      margin: -3px 12px 0 0;
      border: 1px solid transparent;
   }  

   &__label {
      display: flex;
      align-items: center;
      &:hover {
         color: $orange-900;
         & .filter-offer__checkbox{
            border-color: $orange-900;
         }
      }
   }

   &__input {
      &:checked + .filter-offer__checkbox{
         background-image: url('../images/icons/checked.svg');
         background-position: center center;
         background-size: 12px 9px;
         background-repeat: no-repeat;
         border: 1px solid $darkBlue-900;
      }
   }
}