.filter-price {
   &__label {
      display: block;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__content {
      @include font-prop(16px, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $gray;
   }

   &__price{
      background-color: $orange-600;
      width: 70px;
      margin: 0 5px;
      text-align: center;
      padding: 12px 0;
      color: $dark;
      font-weight: 500;
   }

   .irs--flat{
      height: 18px;
   }
   
   .irs--flat .irs-min, .irs--flat .irs-max, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
      display: none;
   }
   
   .irs--flat .irs-bar {
      top: 8px;
      height: 2px;
      background-color: $orange-900;
   }
   
   .irs--flat .irs-line{
      top: 8px;
      height: 2px;
   }
   
   .irs--flat .irs-handle{
      top: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $orange-900;
      &>i:first-child{
         display: none;
      }
   }
}