.menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 0;

      &--footer {
            margin-top: 4px;
            max-width: 600px;
            padding: 0;
            align-self: start;
      }

      &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 63px 0 auto;

            &--mobile{
                  padding: 14px 0;
                  flex-direction: column;
                  width: 100%;
                  position: relative;

                  &::after{
                        content: '';
                        left: -15px;
                        right: 0;
                        bottom: 0;
                        height: 1px;
                        background-color: $gray;
                        position: absolute;
                  }
            }

            &--footer {
                  display: block;
                  width: 100%;
                  column-count: 3;
                  column-gap: 1px;
                  margin: 0;
            }
      }

      &__item {
            &:not(:last-child) {
                  margin-right: 45px;
            }

            &--footer {
                  &:not(:last-child) {
                        margin: 0 0 10px 0;
                  }
            }

            &--mobile{
                  &:not(:last-child){
                        margin: 0 0 2px 0;
                  }
            }
      }

      &__link {
            display: block;
            width: 100%;
            padding: 5px 2px;
            @include font-prop (18px, 1.2);
            transition: all 0.3s;

            &--active {
                  color: $orange-900;
            }

            &--mobile{
                  display: block;
                  width: 100%;
                  padding: 10px 0;
            }
      }

      &__button-span {
            height: 2px;
            width: 100%;
            background-color: $darkBlue-900;

            &::before,
            &::after {
                  content: '';
                  height: 2px;
                  left: 10px;
                  right: 10px;
                  position: absolute;
                  background-color: $darkBlue-900;
                  transition: 0.3s all ease;
            }

            &::before {
                  top: 10px;
            }

            &::after {
                  bottom: 10px;
            }
      }

      &__button {
            width: 50px;
            height: 40px;
            padding: 10px;
            border-radius: 3px;
            position: relative;
            display: flex;
            align-items: center;
            display: none;
            transition: 0.3s all ease;
      }

      &__mobile{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 80%;
            transform: translateX(-2000%);
            padding: 0 0 0 15px;
            background-color: $white;
            z-index: 35;
            
            transition: all 0.5 ease;

            &.menu__mobile--active{
                  transform: translateX(0);
                  overflow-y: auto;
            }
      }

      &__mobile-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 0;
            position: relative;

            &::after{
                  content: '';
                  left: -15px;
                  right: 0;
                  bottom: 0;
                  height: 1px;
                  background-color: $gray;
                  position: absolute;
            }
      }

      &__mobile-close{
            width: 44px;
            height: 44px;
            margin-right: 13px;
      }
}