.restaurant-card {
   border-radius: 10px;
   box-shadow: 0px 3px 3px rgba($black, 0.1);
   min-height: 420px;
   max-width: 370px;
   
   &:hover {
          box-shadow: 0px 3px 15px rgba($orange-600, 0.5);
      }
      
      &__img {
            margin-bottom: 15px;
      }
      
      &__title {
         margin: 0 20px 20px 20px;
         @include font-prop(24px, 1.3);
         display: -webkit-inline-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         overflow: hidden;
         min-height: 2.6em;
   }

   &__content {
         padding: 0 20px 20px;
         display: flex;
         justify-content: space-between;
         align-items: center;
   }

   &__time {
         @include font-prop(18px, 1.5);
   }

   &__time-svg {
      margin-bottom: -3px;
   }

   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      // padding: 5px 32px;
      border-radius: 20px;
      transition: all 0.2s;

      &:hover {
            padding: 5px 10px 5px 54px;
      }
   }
}