.restaurant-card {
   border-radius: 10px;
   box-shadow: 0px 3px 3px rgba($black, 0.1);

   &:hover {
         box-shadow: 0px 3px 15px rgba($orange-600, 0.5);
   }

   &__title {
         margin: 15px 0 20px 20px;
         @include font-prop(24px, 1.3);
   }

   &__content {
         padding: 0 20px 20px;
         display: flex;
         justify-content: space-between;
         align-items: center;
   }

   &__time {
         @include font-prop(18px, 1.5);

         &-svg {
               width: 22px;
               height: 22px;
               margin-bottom: -3px;
         }
   }

   &__btn {
         padding: 5px 32px;
         border-radius: 20px;
         transition: all 0.2s;

         &:hover {
               padding: 5px 10px 5px 54px;
         }
   }

   &__svg {
         width: 14px;
         height: 12px;
   }
}