.user-nav {
   display: flex;

   &__item:not(:last-child) {
         margin-right: 10px;
   }

   &__num {
         position: absolute;
         top: 7px;
         right: 5px;
         width: 14px;
         height: 14px;
         border-radius: 50%;
         background-color: $orange-900;
         text-align: center;
         @include font-prop (10px, 1.4);
         color: $white;
   }

   &__link {
         display: block;
         width: 44px;
         height: 44px;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: all 0.3s;
         border-radius: 6px;
         stroke: $darkBlue-900;

         &:hover {
               background-color: $orange-900;
               stroke: $white;

               .user-nav__num {
                     background-color: $white;
                     color: $orange-900;
               }
         }

         &:focus {
               outline: 2px solid $orange-900;
               background-color: $orange-600;
               stroke: $darkBlue-900;
         }

         &:active {
               background-color: $orange-600;
               stroke: $darkBlue-900;

               .user-nav__num {
                     background-color: $orange-900;
                     color: $white;
               }
         }
   }
}